<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/jee
        http://www.springframework.org/schema/jee/spring-jee.xsd
        ">

    <!-- 引入配置文件 -->
    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:db.properties" />
    </bean>

    <!--配置数据源 dbcp-->
    <bean id="file" class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="${db.dirverClass}" />
        <property name="url" value="${db.url1}" />
        <property name="username" value="${db.username}" />
        <property name="password" value="${db.password}" />
        <!-- 初始化连接大小 -->
        <property name="initialSize" value="${db.initialSize}"></property>
        <!-- 连接池最大数量 -->
        <property name="maxActive" value="${db.maxActive}"></property>
        <!-- 连接池最大空闲 -->
        <property name="maxIdle" value="${db.maxIdle}"></property>
        <!-- 连接池最小空闲 -->
        <property name="minIdle" value="${db.minIdle}"></property>
        <!-- 获取连接最大等待时间 -->
        <property name="maxWait" value="${db.maxWait}"></property>
    </bean>

    <!--配置数据源1 dbcp-->
    <bean id="userservice" class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="${db.dirverClass}" />
        <property name="url" value="${db.url2}" />
        <property name="username" value="${db.username}" />
        <property name="password" value="${db.password}" />
        <property name="initialSize" value="${db.initialSize}"></property> <!-- 初始化连接大小 -->
        <property name="maxActive" value="${db.maxActive}"></property> <!-- 连接池最大数量 -->
        <property name="maxIdle" value="${db.maxIdle}"></property> <!-- 连接池最大空闲 -->
        <property name="minIdle" value="${db.minIdle}"></property> <!-- 连接池最小空闲 -->
        <property name="maxWait" value="${db.maxWait}"></property><!-- 获取连接最大等待时间 -->
    </bean>

    <!--配置数据源2 dbcp-->
    <bean id="pay" class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="${db.dirverClass}" />
        <property name="url" value="${db.url3}" />
        <property name="username" value="${db.username}" />
        <property name="password" value="${db.password}" />
        <property name="initialSize" value="${db.initialSize}"></property> <!-- 初始化连接大小 -->
        <property name="maxActive" value="${db.maxActive}"></property> <!-- 连接池最大数量 -->
        <property name="maxIdle" value="${db.maxIdle}"></property> <!-- 连接池最大空闲 -->
        <property name="minIdle" value="${db.minIdle}"></property> <!-- 连接池最小空闲 -->
        <property name="maxWait" value="${db.maxWait}"></property><!-- 获取连接最大等待时间 -->
    </bean>

    <!-- 动态配置数据源 -->
    <bean id ="dataSource" class= "com.ssm.DynamicDataSource" >
        <property name ="targetDataSources">
            <map key-type ="java.lang.String">
                <entry value-ref ="file" key= "file"></entry >
                <entry value-ref ="userservice" key= "userservice"></entry >
                <entry value-ref ="pay" key= "pay"></entry >
            </map >
        </property >
        <!-- 默认使用ds1的数据源 -->
        <property name ="defaultTargetDataSource" ref= "userservice"></property >
    </bean >


    <!--sqlSessionFactory-->
    <!-- spring和MyBatis完美整合，不需要mybatis的配置映射文件 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
            <!--加载mybatis配置文件-->
        <property name="configLocation" value="classpath:mybatis/SqlMapConfig.xml"/>
        <!--数据源-->
        <property name="dataSource" ref="dataSource" />
        <!--&lt;!&ndash; 自动扫描mapping.xml文件 &ndash;&gt;-->
        <!--<property name="mapperLocations" value="classpath:com/cn/hnust/mapping/*.xml"></property>-->
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--指定扫描的包名字-->
        <!--同文件名称，且在同一目录且使用的是mapper代理的方式
        如果扫描多个包 ，每个包中间用半角逗号隔开-->
        <property name="basePackage" value="com.ssm.mapper"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>



</beans>