<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/jee
        http://www.springframework.org/schema/jee/spring-jee.xsd
        ">
    <!--扫描包-->
    <context:component-scan base-package="com.ssm.*"/>
    <!--如果用这种方法就不用上面的注解，默认加载很多参数绑定 比如json转换解析器，实际开发使用这个注解-->

    <!--<bean class="org.springframework.http.converter.StringHttpMessageConverter">-->
        <!--<constructor-arg value="UTF-8" index="0">-->
        <!--</constructor-arg>-->
        <!--<property name="supportedMediaTypes">-->
            <!--<list>-->
                <!--<value>application/json;charset=UTF-8</value>-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->
    <!-- 消息转换器 -->

    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="true">
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes" value="application/json;charset=UTF-8"/>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.ssm.utiltools.Interceptor.HandlerInterceptorAdapter"/>
        </mvc:interceptor>
    </mvc:interceptors>



    <!--<bean id="stringHttpMessageConverter"-->
          <!--class="org.springframework.http.converter.StringHttpMessageConverter">-->
        <!--<property name="supportedMediaTypes">-->
            <!--<list>-->
                <!--<bean class="org.springframework.http.MediaType">-->
                    <!--<constructor-arg value="application" />-->
                    <!--<constructor-arg value="json" />-->
                    <!--<constructor-arg value="UTF-8" />-->
                <!--</bean>-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->


    <!--文件上传 解析器-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">

        <property name="maxUploadSize" value="104857600" />

        <property name="maxInMemorySize" value="4096" />

        <property name="defaultEncoding" value="UTF-8"></property>
    </bean>

    <!--跨域-->
    <mvc:cors>
        <mvc:mapping path="/**" allowed-origins="*" allow-credentials="true" max-age="1800" allowed-methods="GET,POST,OPTIONS"/>
    </mvc:cors>

    <!--处理器视图解析器
    解析jsp ,默认使用jstl标签 classpath 下面得有jstl包
    -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp" />
    </bean>

</beans>